.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: auto;

  .app-header {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    section {
      display: flex;
      gap: 1rem;
      border: 0.1rem solid #656261;
      padding: 1rem;
      border-radius: 1rem 2.5rem;
      border-right: unset;
      border-left: unset;
      background: linear-gradient(45deg, #131b2f, transparent);
      background-clip: content-box;
      filter: brightness(135%);
    }

    .button {
      justify-content: center;
      border: unset;
      background: unset;

      button {
        width: 16rem;
        background: linear-gradient(45deg, #9bdc18, #9e9f88);
        color: black;
      }
    }

    .prepayment {
      .monthlyPrepayment {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        border: .1rem solid cornflowerblue;
        padding: .5rem;
        border-radius: 1rem;
        border-top: unset;
        border-bottom: unset;
      }
    }
  }

  .table-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    > h4 {
      display: flex;
      justify-content: center;
      line-height: 3rem;
      font-size: 1.25rem;
      font-weight: bold;
      border-radius: 2rem;
      background: repeating-linear-gradient(5deg, #121b32, transparent 100px);;
    }

    > div {
      > div {
        padding: 1rem;
        border: 0.1rem solid #9bdc18;
        border-radius: 3rem .25rem;
        border-left: unset;
      }

      padding: .1rem;
      border: 0.1rem solid cornflowerblue;
      border-radius: 3rem .25rem;
      border-right: unset;
    }
  }
}